<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
"http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>

    <key>お気に入り</key>
    <string>Favorites</string>

    <key>非表示</key>
    <string>Hidden</string>

    <key>通知</key>
    <string>Dropdown</string>

    <key>カスタムスキン</key>
    <string>Custom Skins</string>

    <key>ポップアップ</key>
    <string>Popups</string>

    <key>アリーナ</key>
    <string>Arena</string>

    <key>マーキング</key>
    <string>Markings</string>

    <key>サイズ確認</key>
    <string>Size Check</string>

    <key>ラベル</key>
    <string>Labels</string>

    <key>カスタムラベル</key>
    <string>Custom Label</string>

    <key>コントロール</key>
    <string>Controls</string>

    <key>ボタン系</key>
    <string>Buttons</string>

    <key>クイック退出</key>
    <string>Quick Leave</string>

    <key>直線移動</key>
    <string>LINESPLIT</string>

    <key>ループ設定</key>
    <string>Loop Settings</string>

    <key>ひっつき虫</key>
    <string>Auto Track</string>

    <key>自己チャ</key>
    <string>Self Feed</string>

    <key>視野</key>
    <string>Zoom</string>

    <key>その他</key>
    <string>Others</string>

    <key>スキンスクロール</key>
    <string>Skins Scrolls</string>

    <key>画像変更</key>
    <string>Change Images</string>

    <key>ステート</key>
    <string>State</string>

    <key>アカウント</key>
    <string>Accounts</string>

    <key>メニュー設定</key>
    <string>Menu Settings</string>

    <key>メニュー透明度</key>
    <string>Menu Opacity</string>

    <key>カラムメニュー</key>
    <string>Column Menu</string>

    <key>白枠</key>
    <string>White Outline</string>

    <key>黒枠</key>
    <string>Black Outline</string>

    <key>絵文字</key>
    <string>Emoji</string>

    <key>絵文字(パーティー外のみ)</key>
    <string>Emoji (Outside Party Only)</string>

    <key>害悪文字</key>
    <string>Problematic Nickname</string>

    <key>ペレット</key>
    <string>Pellets</string>

    <key>ミステリースキン</key>
    <string>Mystery Skins</string>

    <key>ランダムスキン</key>
    <string>Random Skins</string>

    <key>パーティー外のみ</key>
    <string>Outside Party Only</string>

    <key>デイリーリワード</key>
    <string>Daily Rewards</string>

    <key>デイリークエスト</key>
    <string>Daily Quests</string>

    <key>オフラインクエスト</key>
    <string>Offline Quest</string>

    <key>シーズン</key>
    <string>Season</string>

    <key>アドベンチャー</key>
    <string>Adventure</string>

    <key>オファー</key>
    <string>Disable Offers</string>

    <key>ポーション</key>
    <string>Potions</string>

    <key>ローディング</key>
    <string>Loading</string>

    <key>コンテニュー</key>
    <string>Continue Game</string>

    <key>レベルアップ</key>
    <string>Level Up</string>

    <key>スケルトン</key>
    <string>Skeleton</string>

    <key>パーティー参加</key>
    <string>Player Joins Party</string>

    <key>ゲスト参加</key>
    <string>Guest Joins Party</string>

    <key>ニックネーム</key>
    <string>Nickname Input Assistant</string>

    <key>その他バースト入れ替え</key>
    <string>More to Burst</string>

    <key>フォント変更</key>
    <string>Change Font</string>

    <key>UIサイズ</key>
    <string>Ingame UI Size</string>

    <key>鯖警告</key>
    <string>Mode Alert</string>

    <key>トークン保存</key>
    <string>Copy Token</string>

    <key>トークンログイン</key>
    <string>Login with Token</string>

    <key>スクロールバー</key>
    <string>Scroll Bar</string>

    <key>鯖内のみボタンを表示</key>
    <string>Show button only arena</string>

    <key>編集</key>
    <string>Edit</string>

    <key>ボムへい</key>
    <string>Bob-omb</string>

    <key>中央タップ自己チャ</key>
    <string>CenterTap Self Feed</string>

    <key>ポーズタップ自己チャ</key>
    <string>Pause To Self Feed</string>

    <key>止まったら自己チャ</key>
    <string>Self Feed on Release</string>

    <key>中央タップ範囲設定</key>
    <string>CenterTap Set Range</string>

    <key>中央タップ範囲確認</key>
    <string>CenterTap Show Range</string>

    <key>固定視野チ</key>
    <string>Stable Zoom</string>

    <key>分裂視野チ</key>
    <string>Dynamic Zoom</string>

    <key>固定広がり方</key>
    <string>Stable Spread Intensity</string>

    <key>分裂広がり方</key>
    <string>Dynamic Spread Intensity</string>

    <key>プラスマイナス</key>
    <string>Zoom UI</string>

    <key>クイック退出ボタン</key>
    <string>Quick Leave Button</string>

    <key>自動リスポーン</key>
    <string>Auto Respawn</string>

    <key>ポーズボタン</key>
    <string>Pause Button</string>

    <key>直線移動ボタン</key>
    <string>Button  </string>

    <key>透明化</key>
    <string>Invisible</string>

    <key>カーソル非表示</key>
    <string>Hide Joystick Button</string>

    <key>色丸非表示</key>
    <string>Hide Move Button</string>

    <key>ループ</key>
    <string>Loop</string>

    <key>上↑</key>
    <string>Up ↑</string>

    <key>下↓</key>
    <string>Down ↓</string>

    <key>右→</key>
    <string>Right →</string>

    <key>左←</key>
    <string>Left ←</string>

    <key>粘着ボタン</key>
    <string>Track Button</string>

    <key>食われる細胞を無視</key>
    <string>Ignore Biggger Cells</string>

    <key>小さすぎる細胞を無視</key>
    <string>Ignore Too Small Cells</string>

    <key>敵より下</key>
    <string>Below Cell</string>

    <key>パーティー</key>
    <string>Party</string>

    <key>FPS</key>
    <string>FPS</string>

    <key>矢印距離</key>
    <string>Friend Distance</string>

    <key>マスラベルサイズ</key>
    <string>MassLabel Size</string>

    <key>敵のスコア</key>
    <string>Enemy score</string>

    <key>細胞数</key>
    <string>Cell Counter</string>

    <key>合体時間</key>
    <string>Merge Timer</string>

    <key>生存時間</key>
    <string>Survival Time</string>

    <key>ダイナミックスコア</key>
    <string>Dynamic Score</string>

    <key>一番大きい細胞のスコア</key>
    <string>Largest Cell Score</string>

    <key>カスタムラベル編集</key>
    <string>Edit Label</string>

    <key>分裂サイズ</key>
    <string>Split Size</string>

    <key>粒サイズ</key>
    <string>Shoot Size</string>

    <key>カーソルサイズ</key>
    <string>Joystick Size</string>

    <key>鯖の背景</key>
    <string>Arena Background</string>

    <key>分裂できる細胞</key>
    <string>Splittable Cells</string>

    <key>とげー</key>
    <string>Virus Warning</string>

    <key>アウトラインモード</key>
    <string>Outline mode</string>

    <key>赤</key>
    <string>Red</string>

    <key>黄</key>
    <string>Yellow</string>

    <key>緑</key>
    <string>GReeeeN</string>

    <key>ぷらす</key>
    <string>Plus</string>

    <key>セルアニメーション無効</key>
    <string>Disable Cell Anim</string>

    <key>ジョイントアリーナ</key>
    <string>Joining Arena</string>

    <key>Call me</key>
    <string>Call me</string>

    <key>棘色</key>
    <string>Virus Color</string>

    <key>棘透かし</key>
    <string>Virus Opacity</string>

    <key>壁線</key>
    <string>Arena Outline</string>

    <key>強制カンスト</key>
    <string>Force Max Out</string>

    <key>プラスマイナス</key>
    <string>Zoom UI</string>

    <key>2カラムメニュー</key>
    <string>Column Menu</string>

    <key>English</key>
    <string>English</string>

    <key>メインメニューへ戻る</key>
    <string>Exit To Main Menu</string>

    <key>ランキング修正</key>
    <string>Fix Leaderboard</string>

    <key>設定の保存/読み込み</key>
    <string>Mods Settings</string>

    <key>キャッシュ削除</key>
    <string>Clear Caches</string>

    <key>ドキュメント削除</key>
    <string>Clear Documents</string>

    <key>保存</key>
    <string>Save</string>

    <key>一覧</key>
    <string>List</string>

    <key>plistを読み込む</key>
    <string>Import plist</string>

    <key>plistを保存</key>
    <string>Export plist</string>

    <key>スキンを開く</key>
    <string>Open Skins</string>

    <key>メニューアイコン</key>
    <string>Menu Icon</string>

    <key>直線移動カーソルボタン</key>
    <string>LINESPLIT Joystick Button</string>

    <key>マスタースプリット</key>
    <string>MasterSplit</string>

    <key>マスタースプリットボタン</key>
    <string>MasterSplit Button</string>

    <key>粒チ</key>
    <string>Macro</string>

    <key>粒チボタン</key>
    <string>Macro Button</string>

    <key>ボムへいボタン</key>
    <string>Bob-omb Button</string>

    <key>再接続</key>
    <string>Reconnect</string>

    <key>ログイン</key>
    <string>Login Menu</string>

    <key>地域変更</key>
    <string>Change Region</string>

    <key>リラックス</key>
    <string>Relax</string>

    <key>設定用鯖</key>
    <string>Settings Lobby</string>

    <key>分裂色を選択</key>
    <string>Select Splittable Color</string>

    <key>タップ回数: 1</key>
    <string>Tap Count: 1</string>

    <key>タップ回数: 2</key>
    <string>Tap Count: 2</string>

    <key>タップ回数: 3</key>
    <string>Tap Count: 3</string>

    <key>メインページへ戻る</key>
    <string>Back Main Page</string>

    <key>desc:お気に入り</key>
    <string>No description yet</string>

    <key>desc:非表示</key>
    <string>No description yet</string>

    <key>desc:通知</key>
    <string>No description yet</string>

    <key>desc:カスタムスキン</key>
    <string>Hide custom skins</string>

    <key>desc:ポップアップ</key>
    <string>No description yet</string>

    <key>desc:アリーナ</key>
    <string>No description yet</string>

    <key>desc:マーキング</key>
    <string>No description yet</string>

    <key>desc:ラベル</key>
    <string>No description yet</string>

    <key>desc:カスタムラベル</key>
    <string>No description yet</string>

    <key>desc:コントロール</key>
    <string>No description yet</string>

    <key>desc:ボタン系</key>
    <string>No description yet</string>

    <key>desc:クイック退出</key>
    <string>No description yet</string>

    <key>desc:直線移動</key>
    <string>No description yet</string>

    <key>desc:ループ設定</key>
    <string>No description yet</string>

    <key>desc:ひっつき虫</key>
    <string>No description yet</string>

    <key>desc:自己チャ</key>
    <string>No description yet</string>

    <key>desc:視野</key>
    <string>No description yet</string>

    <key>desc:その他</key>
    <string>No description yet</string>

    <key>desc:スキンスクロール</key>
    <string>No description yet</string>

    <key>desc:画像変更</key>
    <string>No description yet</string>

    <key>desc:ステート</key>
    <string>No description yet</string>

    <key>desc:メニュー設定</key>
    <string>No description yet</string>

    <key>desc:白枠</key>
    <string>>Sets white skin and pellet colors to gray</string>

    <key>desc:黒枠</key>
    <string>Sets black skin and pellet colors to gray</string>

    <key>desc:絵文字</key>
    <string>No description yet</string>

    <key>desc:絵文字(パーティー外のみ)</key>
    <string>No description yet</string>

    <key>desc:害悪文字</key>
    <string>Hides the black “＋” on nicknames</string>

    <key>desc:ペレット</key>
    <string>No description yet</string>

    <key>desc:ミステリースキン</key>
    <string>No description yet</string>

    <key>desc:ランダムスキン</key>
    <string>Replace custom skins with a random</string>

    <key>desc:パーティー外のみ</key>
    <string>only custom skins from players outside your party are hidden or replaced with random ones</string>

    <key>desc:デイリーリワード</key>
    <string>No description yet</string>

    <key>desc:デイリークエスト</key>
    <string>No description yet</string>

    <key>desc:オフラインクエスト</key>
    <string>No description yet</string>

    <key>desc:シーズン</key>
    <string>No description yet</string>

    <key>desc:アドベンチャー</key>
    <string>No description yet</string>

    <key>desc:オファー</key>
    <string>No description yet</string>

    <key>desc:ポーション</key>
    <string>No description yet</string>

    <key>desc:ローディング</key>
    <string>No description yet</string>

    <key>desc:コンテニュー</key>
    <string>No description yet</string>

    <key>desc:レベルアップ</key>
    <string>No description yet</string>

    <key>desc:スケルトン</key>
    <string>Hides only white elements, such as join dropdown</string>

    <key>desc:パーティー参加</key>
    <string>Hide Join Dropdown</string>

    <key>desc:ゲスト参加</key>
    <string>Hide Guest Join Dropdown</string>

    <key>desc:ニックネーム</key>
    <string>No description yet</string>

    <key>desc:その他バースト入れ替え</key>
    <string>No description yet</string>

    <key>desc:フォント変更</key>
    <string>No description yet</string>

    <key>desc:UIサイズ</key>
    <string>No description yet</string>

    <key>desc:鯖警告</key>
    <string>Alert when joining a different mode</string>

    <key>desc:スクロールバー</key>
    <string>No description yet</string>

    <key>desc:鯖内のみボタンを表示</key>
    <string>No description yet</string>

    <key>desc:編集</key>
    <string>drag to move, double tap to resize</string>

    <key>desc:ボムへい</key>
    <string>No description yet</string>

    <key>desc:中央タップ自己チャ</key>
    <string>No description yet</string>

    <key>desc:ポーズタップ自己チャ</key>
    <string>No description yet</string>

    <key>desc:中央タップ範囲設定</key>
    <string>No description yet</string>

    <key>desc:中央タップ範囲</key>
    <string>No description yet</string>

    <key>desc:中央タップ範囲確認</key>
    <string>No description yet</string>

    <key>desc:固定視野チ</key>
    <string>No description yet</string>

    <key>desc:分裂視野チ</key>
    <string>No description yet</string>

    <key>desc:固定広がり方</key>
    <string>No description yet</string>

    <key>desc:分裂広がり方</key>
    <string>No description yet</string>

    <key>desc:プラスマイナス</key>
    <string>No description yet</string>

    <key>desc:クイック退出ボタン</key>
    <string>No description yet</string>

    <key>desc:自動リスポーン</key>
    <string>No description yet</string>

    <key>desc:ポーズボタン</key>
    <string>No description yet</string>

    <key>desc:直線移動ボタン</key>
    <string>No description yet</string>

    <key>desc:透明化</key>
    <string>No description yet</string>

    <key>desc:カーソル非表示</key>
    <string>No description yet</string>

    <key>desc:色丸非表示</key>
    <string>No description yet</string>

    <key>desc:ループ</key>
    <string>No description yet</string>

    <key>desc:上↑</key>
    <string>No description yet</string>

    <key>desc:下↓</key>
    <string>No description yet</string>

    <key>desc:右→</key>
    <string>No description yet</string>

    <key>desc:左←</key>
    <string>No description yet</string>

    <key>desc:粘着ボタン</key>
    <string>No description yet</string>

    <key>desc:食われる細胞を無視</key>
    <string>No description yet</string>

    <key>desc:小さすぎる細胞を無視</key>
    <string>No description yet</string>

    <key>desc:敵より下</key>
    <string>No description yet</string>

    <key>desc:パーティー</key>
    <string>No description yet</string>

    <key>desc:FPS</key>
    <string>No description yet</string>

    <key>desc:矢印距離</key>
    <string>No description yet</string>

    <key>desc:マスラベルサイズ</key>
    <string>No description yet</string>

    <key>desc:敵のスコア</key>
    <string>No description yet</string>

    <key>desc:細胞数</key>
    <string>No description yet</string>

    <key>desc:合体時間</key>
    <string>No description yet</string>

    <key>desc:生存時間</key>
    <string>No description yet</string>

    <key>desc:ダイナミックスコア</key>
    <string>No description yet</string>

    <key>desc:一番大きい細胞のスコア</key>
    <string>No description yet</string>

    <key>desc鯖の背景</key>
    <string>No description yet</string>

    <key>desc:カスタムラベル編集</key>
    <string>No description yet</string>

    <key>desc:分裂サイズ</key>
    <string>No description yet</string>

    <key>desc:粒サイズ</key>
    <string>No description yet</string>

    <key>desc:カーソルサイズ</key>
    <string>No description yet</string>

    <key>desc:分裂できる細胞</key>
    <string>No description yet</string>

    <key>desc:とげー</key>
    <string>No description yet</string>

    <key>desc:アウトラインモード</key>
    <string>No description yet</string>

    <key>desc:サイズ確認</key>
    <string>Red (enemy can eat you by splitting)

Yellow (sizes overlap even if you split)

Green (you can eat the enemy by splitting)</string>

    <key>desc:赤</key>
    <string>enemy can eat you by splitting</string>

    <key>desc:黄</key>
    <string>sizes overlap even if you split</string>

    <key>desc:緑</key>
    <string>you can eat the enemy by splitting</string>

    <key>desc:ぷらす</key>
    <string>Shows the missing mass needed to turn green (for bases, it’s roughly half of the displayed value as mass; estimate)</string>

    <key>desc:セルアニメーション無効</key>
    <string>No description yet</string>

    <key>desc:ジョイントアリーナ</key>
    <string>No description yet</string>

    <key>desc:Call me</key>
    <string>No description yet</string>

    <key>desc:棘透かし</key>
    <string>No description yet</string>

    <key>desc:壁線</key>
    <string>No description yet</string>

    <key>desc:強制カンスト</key>
    <string>No description yet</string>

    <key>desc:棘色</key>
    <string>No description yet</string>

    <key>desc:プラスマイナス</key>
    <string>No description yet</string>

    <key>desc:2カラムメニュー</key>
    <string>No description yet</string>

    <key>desc:English</key>
    <string>No description yet</string>

    <key>desc:メインメニューへ戻る</key>
    <string>No description yet</string>

    <key>desc:ランキング修正</key>
    <string>No description yet</string>

    <key>desc:設定の保存/読み込み</key>
    <string>No description yet</string>

    <key>desc:キャッシュ削除</key>
    <string>No description yet</string>

    <key>desc:ドキュメント削除</key>
    <string>No description yet</string>

    <key>desc:保存</key>
    <string>No description yet</string>

    <key>desc:一覧</key>
    <string>No description yet</string>

    <key>desc:plistを読み込む</key>
    <string>No description yet</string>

    <key>desc:plistを保存</key>
    <string>No description yet</string>

    <key>desc:スキンを開く</key>
    <string>No description yet</string>

    <key>desc:メニューアイコン</key>
    <string>No description yet</string>

    <key>desc:直線移動カーソルボタン</key>
    <string>No description yet</string>

    <key>desc:マスタースプリット</key>
    <string>No description yet</string>

    <key>desc:マスタースプリットボタン</key>
    <string>No description yet</string>

    <key>desc:粒チ</key>
    <string>No description yet</string>

    <key>desc:粒チボタン</key>
    <string>No description yet</string>

    <key>desc:ボムへいボタン</key>
    <string>No description yet</string>

    <key>desc:再接続</key>
    <string>No description yet</string>

    <key>desc:ログイン</key>
    <string>No description yet</string>

    <key>desc:地域変更</key>
    <string>No description yet</string>

    <key>desc:リラックス</key>
    <string>No description yet</string>

    <key>desc:設定用鯖</key>
    <string>No description yet</string>

    <key>desc:分裂色を選択</key>
    <string>No description yet</string>

    <key>desc:タップ回数: 1</key>
    <string>No description yet</string>

    <key>desc:タップ回数: 2</key>
    <string>No description yet</string>

    <key>desc:タップ回数: 3</key>
    <string>No description yet</string>

    <key>desc:メインページへ戻る</key>
    <string>No description yet</string>

</dict>
</plist>
